@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-mobile {
    top: -200px;
    transition: top .5s ease-in-out;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
    ;

    display: none;
};
